<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- INTERNET izni zorunlu: 42 API'ya erismek icin. -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="Swifty Companion"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="false">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--
            ONEMLI: flutter_appauth paketi (AppAuth-Android AAR kutuphanesi)
            kendi RedirectUriReceiverActivity'sini otomatik tanimlar. O tanim
            build.gradle'daki `appAuthRedirectScheme` manifestPlaceholder'ini
            kullanir ve scheme-only intent-filter ekler. Biz burada ayrica
            tanimlarsak manifest merger sirasinda state kaybi yaratir
            ("No stored state - unable to handle response" hatasi).
            Bu yuzden burada YENIDEN TANIMLAMIYORUZ.

            42 intra'da redirect URI:   com.bc.swiftycompanion://oauth/callback
            build.gradle'da scheme:     com.bc.swiftycompanion
            Bu ikisi eslesince callback dogru intercept edilir.
        -->

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>

        <!-- Custom tabs/browser acmak icin (OAuth webview yerine native
             browser kullaniyoruz, bu yuzden "acabilecek browser var mi"
             sorgusu icin gerekli). -->
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="https"/>
        </intent>
    </queries>
</manifest>
